@value atom: 8px;
@value colorGrey: #888;
@value brandOrange: #FF8C55;
@value brandOrangeA05: rgba(255, 140, 85, 0.5);


@value originBorderStyle: solid;
@value repetitionBorderStyle: dashed;
@value borderColor: colorGrey;

.jotContainer {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    margin-left: calc(atom * 2);
}

.tracks {
    display: flex;
}

.loop {
    position: absolute;
    display: flex;
}
.loop::after {
    position: absolute;
    content: '';
    /* -1px, to be directly on top of the right border of .loop:last-of-type::after, so there is
     * only a single 1px border between them */
    left: -1px;
    top: calc(atom * -5);
    bottom: calc(atom * -5);
    width: 1px;
    background: borderColor;
}

.loop:last-of-type::after {
    position: absolute;
    content: '';
    right: 0;
    top: calc(atom * -5);
    bottom: calc(atom * -5);
    width: 1px;
    background: borderColor;
}

.trackContainer {
    width: 100%;
}
.trackContainer:first-of-type {
    border-top: 1px originBorderStyle borderColor;
}
.trackContainer:last-of-type {
    border-bottom: 1px originBorderStyle borderColor;
}

.track {
    position: relative;
}

.isRepeat .trackContainer:first-of-type {
    border-top-style: repetitionBorderStyle;
}
.isRepeat .trackContainer:last-of-type {
    border-bottom-style: repetitionBorderStyle;
}

.bar {
    position: absolute;
    height: 100%;
}
.bar::after {
    position: absolute;
    content: '';
    right: 0;
    top: calc(atom * -5);
    bottom: calc(atom * -5);
    width: 1px;
    background: borderColor;
}

.bar:last-of-type, .isRepeat .bar {
    /* border-right-style: repetitionBorderStyle; */
}

.repetition:last-of-type .bar:last-of-type {
    /* border-right: none; */
}

.noteContainer {
    display: flex;
    align-items: center;
    justify-content: start;
}

.note {
    position: absolute;
    width: calc(2 * atom);
    height: calc(2 * atom);
    border-radius: 50%;
    transform: translate(-50%, -50%);
    /* TODO: remove this z-index and order the layers properly */
    z-index: 1;
}

.note.selected {
    box-shadow: 0 0 0 calc(atom * 0.5) brandOrange;
}

.note:hover {
    box-shadow: 0 0 0 calc(atom * 0.5) brandOrangeA05;
}
