@value atom: 8px;
@value colorGrey: #888;
@value brandOrange: #FF8C55;
@value brandOrangeA05: rgba(255, 140, 85, 0.5);


@value originBorderStyle: solid;
@value repetitionBorderStyle: dashed;
@value borderColor: colorGrey;

.jotContainer {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.tracks {
    display: flex;
}

.loop {
    display: flex;
    border-left: 1px originBorderStyle borderColor;
}

.loop:last-of-type {
    border-right: 1px originBorderStyle black;
}

.trackContainer:first-of-type {
    border-top: 1px originBorderStyle borderColor;
}

.track {
    height: calc(6 * atom);
    border-bottom: 1px originBorderStyle borderColor;
}

.isRepeat .trackContainer:first-of-type {
    border-top-style: repetitionBorderStyle;
}
.isRepeat .track {
    border-bottom-style: repetitionBorderStyle;
}

.bar {
    padding: 0 atom;
    height: 100%;
    min-width: calc(35 * atom);
    display: inline-grid;
    border-right: 1px originBorderStyle borderColor;
}

.bar:last-of-type, .isRepeat .bar {
    border-right-style: repetitionBorderStyle;
}

.repetition:last-of-type .bar:last-of-type {
    border-right: none;
}

.noteContainer {
    display: flex;
    align-items: center;
    justify-content: start;
}

.note {
    width: calc(2 * atom);
    height: calc(2 * atom);
    border-radius: 50%;
}

.note.selected {
    box-shadow: 0 0 0 2px brandOrange;
}

.note:hover {
    box-shadow: 0 0 0 2px brandOrangeA05;
}
